.Summary_container {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 20px;
}
.Boxes {
  width: 80vw;
  display: flex;
  gap: 15px;
}
.SummaryBox {
  margin-top: 1.5rem;
  height: 80vh;
  width: 60vw;
  background-color: #f7f7f7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.balanceSheet {
  display: flex;
  width: 100%;
  gap: 20px;
}
