.transaction_container {
  height: 93%;
  width: auto;
  /* border: 2px solid black; */
  margin-top: 1rem;
}
.transaction_container_title {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
}
